# Orchestration & LLMs
langchain==0.3.0
langchain-core
langchain-openai
langchain-groq
langgraph
langsmith
groq
# Environment Variables
python-dotenv

# Data Science Core
pandas
scikit-learn
matplotlib
seaborn
# UI
streamlit